NITRO_PORT=3007
BETTER_AUTH_SECRET=secretkey
BETTER_AUTH_URL=http://localhost:3007
 
NUXT_TURSO_DATABASE_URL="tursodb_url"
# NUXT_TURSO_DATABASE_URL='file:./prisma/dev.db'
NUXT_TURSO_AUTH_TOKEN="token"
NUXT_PUBLIC_APP_ENV='development'

NUXT_GITHUB_CLIENT_ID=
NUXT_GITHUB_CLIENT_SECRET=
NUXT_GOOGLE_CLIENT_ID=
NUXT_GOOGLE_CLIENT_SECRET=
NUXT_OPENAI_API=

NUXT_CLOUDINARY_CLOUD_NAME=""
NUXT_CLOUDINARY_API_KEY=""
NUXT_CLOUDINARY_API_SECRET=""
NUXT_POLAR_ACCESS_TOKEN=polar_oat_key
NUXT_POLAR_SERVER=sandbox
NUXT_POLAR_WEBHOOK_SECRET=polar_whs_key
NUXT_POLAR_PRODUCT_ID=